// @import "./constants.scss";
$cellSize: 30px;

body {
  height: 100vh;
  background-repeat: no-repeat !important; 
  background-attachment: fixed;
  background: linear-gradient(
    aliceblue 0%,
    aliceblue 60%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
}

#board {
  background-color: white;
  z-index: -1;

  padding-left: 0;
  padding-right: 0;

  border-collapse: collapse;

  margin: auto;
  margin-top: 10px;
}

.grid-container {
  margin: 10px;
}

.grid-item {
  border: 1px solid lightskyblue;
  height: $cellSize;
  width: $cellSize;
  box-sizing: border-box;

  $visitedColor: #36e0d5;
  $pathColor: yellow;

  @keyframes visitingAnim {
    0% {
      transform: scale(0.3);
      background-color: white;
      border-radius: 100%;
    }
    100% {
      background-color: $visitedColor;
    }
  }

  @keyframes wallAnim {
    0% {
      transform: scale(0.3);
    }

    100% {
      background-color: black;
      border: none;
    }
  }

  @keyframes pathAnim {
    0% {
      transform: scale(0.6);
    }
    100% {
      background-color: $pathColor;
    }
  }

  &.visited {
    background-color: $visitedColor;
    animation-name: visitingAnim;
    animation-duration: 0.5s;
  }

  &.path {
    background-color: $pathColor;
    animation-name: pathAnim;
    animation-duration: 0.5s;
  }

  &.wall {
    animation-name: wallAnim;
    animation-duration: 0.3s;
    background-color: black;
    border: none;
  }

  &.start {
    background-color: red;
  }

  &.end {
    background-color: blue;
  }
}

#start-button {
  color: white !important;
  background-color: green;
  border-radius: 10px;
  margin: 0 1em 0 1em;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.disabled {
  color: gainsboro !important;
}
